<div class="col-xs-12 col-sm-12" style="padding: 0;">
    <div class="col-md-12 col-lg-12 cBallerina-io-breadcrumbs">
        <nav class="breadcrumbs bootstrap hidden-sm-down">
            <ul id="breadcrumb-list" class=" cBalleinaBreadcrumbs list-unstyled  wy-breadcrumbs"
                vocab="http://schema.org/" typeof="BreadcrumbList">
                <li><a href="/">Home</a></li>
                <li>/</li>
                <li><a href="/swan-lake/">Swan lake</a></li>
                <li>/</li>
                <li><a href="/swan-lake/learn/">Learn</a></li>
                <li>/</li>
                <li><a href="{{rootPath}}/index.html">API Docs</a></li>