<!DOCTYPE html>
<html>

{{> head }}

<body class="cBallerina-io">
  {{> bioBody }}
  <div class="row cBallerina-io-Gray-row">
    <div class="container">
      <div class="row">



        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 cBallerina-io-Home-Middle-col">
          <div id="search-impl" class="search-bar"></div>

          <div id="main" class="cBlallerina-io-docs-content-container">
            <div class="wy-nav-content">
              <div class="rst-content">
                <div role="main">
                  {{> breadcrumbhead }}
                  <li>/</li>
                  <li><a href="../index.html">{{module.id}}</a></li>
                  {{> breadcrumbfoot }}

                  <div class="section">
                    <h1>Modules</h1>
                    <div>
                      <table class="ui table">
                        {{#if project.modules}}
                        <tbody>
                          {{#each project.modules}}
                          <tr>
                            <td class="module-title modules"><a href="{{id}}/index.html">{{id}}</a></td>
                            <td class="module-desc">{{{ summary }}}</td>
                          </tr>
                          {{/each}}
                        </tbody>
                        {{/if}}
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> foot }}
</body>

{{> footer }}